//Color palette
//To be used in moderation to provide eye appeal to info
$palette-vivid: #fc3836;
$palette-tea: #4a7c6b;
$palette-grey: #090a0a;

//Colors not as vivid that provide a solid, readable text color
$text-dark: #1c0f13;
$text-light: #f7f0ee;

//Easy background color on the eyes to be used for the majority of background
$background-light: #d8d8d8;
$background-grey: #a5a5a5;
$background-image: url("/media/bg-blur.jpg");

//Skinny font
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@250&display=swap");
$primary-font: "Raleway", sans-serif;

$crud-app-bg-img: url("/media/Crud-app-sc.png");
