//Color palette
//To be used in moderation to provide eye appeal to info
$palette-vivid: #fc3836;
$palette-tea: #79a797;
$palette-grey: #090a0a;

//Colors not as vivid that provide a solid, readable text color
$text-dark: #1c0f13;
$text-light: #f7f0ee;

//Easy background color on the eyes to be used for the majority of background
$background-light: #f9e0d9;

$background-image: url("/media/1080.jpg");

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@keyframes spanimation1 {
  0% {
    color: $text-light;
  }

  100% {
    color: $text-dark;
  }
}
@keyframes spanimation2 {
  0% {
    margin-left: 13.5vw;
    color: $text-light;
  }

  100% {
    margin-left: 0;
    color: $text-dark;
  }
}

@keyframes typist {
  0% {
    color: $text-light;
  }

  50% {
    color: $palette-tea;
  }
  100% {
    color: $text-light;
  }
}
