@import "config";
@import "media";

body {
  font-family: $primary-font;
  margin: 0;
  padding: 0;

  .block {
    height: 100vh;
    max-width: 100%;
  }
  //Image Area
  .image-block {
    @extend .block;
    background: $background-image;

    .intro-text {
      padding-top: 20vh;
      padding-left: 33vw;

      h1 {
        color: $text-light;
        font-size: 5rem;
        margin-bottom: 0;
      }

      p {
        color: $text-light;
        font-weight: bolder;
        font-size: 2rem;
      }

      #spanL {
        animation: spanimation1 5s ease-out 0s infinite;
      }
      #spanR {
        animation: spanimation2 5s ease-out 0s infinite;
      }
    }
  }
  //Barrier block
  .barrier-block {
    padding: 0.5rem;
    background-color: $palette-grey;
    max-width: 100%;
  }
  .about-me-block {
    max-width: 100%;
    background-color: $palette-tea;
    .text-container {
      height: 100%;
      color: $text-light;
      h1 {
        padding: 3vh 0 0 3vw;
        margin: 0;
        font-size: 4.5rem;
      }
      p {
        padding: 0 10vw 0 10vw;
        text-align: center;
        font-size: 2rem;
      }
      .links-other {
        text-align: center;
      }
      a {
        text-decoration: none;
        color: $text-light;
        font-weight: bolder;
      }
      a:hover {
        color: black;
        cursor: pointer;
      }
      #comma {
        animation: typist 1.5s ease 0s infinite;
      }
    }
  }
  //Orange area
  .tech-block {
    background-color: $palette-vivid;
    height: 15rem;
    color: $text-light;

    .tech-section {
      background-color: $palette-vivid;
      float: left;
      width: 50%;
      margin: 0;

      .textNIcons {
        padding-left: 3rem;
        margin: 0;
        height: 100%;
        h1 {
          font-size: 3.75rem;
          padding-top: 2rem;
          margin: 0;
          color: $text-light;
        }
      }
      .icons {
        text-decoration: none;
        padding-left: 1rem;

        i {
          color: $text-light;
          font-size: 2.75rem;
        }
        i:hover {
          color: $text-dark;
        }
      }
    }

    .info-section {
      float: right;
      width: 50%;
      margin: 0;
      height: 100%;
      background-color: $palette-vivid;

      .html-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;

        &.show {
          visibility: visible;
        }
      }
      .css-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      .js-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      .node-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      .sass-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      .react-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      .git-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      h1 {
        font-size: 2rem;
      }
      p {
        padding-right: 6rem;
        font-size: 1.5rem;
      }
    }
  }
  /*.projects-block {
    background-color: lightblue;
    height: 50vh;
    .projects-container {
      h1 {
        margin: 0;
      }
      max-width: 100%;
      .project1 {
        background-color: black;
        height: 50vh;
        width: 50%;
      }
    }
  }*/
}
