@import "config";
@import "media";
@import "animations";

body {
  font-family: $primary-font;
  margin: 0;
  padding: 0;

  .block {
    height: 100vh;
    max-width: 100%;
  }
  //Image Area
  .image-block {
    @extend .block;
    background: $background-image;

    .intro-text {
      padding-top: 20vh;
      padding-left: 33vw;

      h1 {
        color: $text-light;
        font-size: 5rem;
        margin-bottom: 0;
      }

      p {
        color: $text-light;
        font-weight: bolder;
        font-size: 2rem;
      }

      #spanL {
        animation: spanimation1 5s ease-out 0s infinite;
      }
      #spanR {
        animation: spanimation2 5s ease-out 0s infinite;
      }
    }
  }
  //Barrier block
  .barrier-block {
    padding: 0.5rem;
    background-color: $palette-grey;
    max-width: 100%;
  }
  .about-me-block {
    max-width: 100%;
    background-color: $palette-tea;
    .text-container {
      height: 100%;
      color: $text-light;
      h1 {
        padding: 3vh 0 0 3vw;
        margin: 0;
        font-size: 4.5rem;
      }
      p {
        padding: 0 10vw 0 10vw;
        text-align: center;
        font-size: 2rem;
      }
      .links-other {
        text-align: center;
      }
      a {
        text-decoration: none;
        color: $text-light;
        font-weight: bolder;
      }
      a:hover {
        color: black;
        cursor: pointer;
      }
      #comma {
        animation: commaFlash 1.5s ease 0s infinite;
      }
    }
  }
  //Orange area
  .tech-block {
    background-color: $palette-vivid;
    height: 15rem;
    color: $text-light;

    .tech-section {
      background-color: $palette-vivid;
      float: left;
      width: 50%;
      margin: 0;

      .textNIcons {
        padding-left: 3rem;
        margin: 0;
        height: 100%;
        h1 {
          font-size: 3.75rem;
          padding-top: 2rem;
          margin: 0;
          color: $text-light;
        }
      }
      .icons {
        text-decoration: none;
        padding-left: 1rem;

        i {
          color: $text-light;
          font-size: 2.75rem;
        }
        i:hover {
          color: $text-dark;
        }
      }
    }

    .info-section {
      float: right;
      width: 50%;
      margin: 0;
      height: 100%;
      background-color: $palette-vivid;

      .html-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
          animation: fadeIn 0.5s ease 1;
        }
      }
      .css-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
          animation: fadeIn 0.5s ease 1;
        }
      }
      .js-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
          animation: fadeIn 0.5s ease 1;
        }
      }
      .node-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
          animation: fadeIn 0.5s ease 1;
        }
      }
      .sass-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
          animation: fadeIn 0.5s ease 1;
        }
      }
      .react-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
          animation: fadeIn 0.5s ease 1;
        }
      }
      .git-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
          animation: fadeIn 0.5s ease 1;
        }
      }
      h1 {
        font-size: 2rem;
      }
      p {
        padding-right: 6rem;
        font-size: 1.5rem;
      }
    }
  }
  .projects-block {
    background-color: $background-light;
    background-size: cover;
    height: 110%;

    h1 {
      margin: 0;
      padding: 2rem 0 1rem 2rem;
      font-size: 3.5rem;
      color: $text-light;
    }
    .project1 {
      height: 23rem;
      width: 49%;
      background-color: black;
      float: left;
      padding-bottom: 4rem;

      .project-img-block-container {
        height: 100%;
        .project-img-block1 {
          height: 100%;
          background-image: $cnstrct-app-bg-img;
        }
        :hover {
          @include easeIn;
          opacity: 0.5;
        }
      }
      .button-container {
        max-width: 100%;
        margin: 0;
        line-height: 200%;
        .source-button {
          height: 2rem;
          width: 50%;
          background-color: $background-grey;
          float: left;
          bottom: 0;
          margin: 0;
          text-align: center;
          color: $text-light;
          font-weight: bolder;
          margin: 0;
          vertical-align: middle;
        }
        :hover {
          opacity: 0.6;
          cursor: pointer;
        }

        .view-button {
          height: 2rem;
          width: 50%;
          background-color: $background-grey;
          float: right;
          bottom: 0;
          margin: 0;
          text-align: center;
          color: $text-light;
          font-weight: bolder;
        }
      }
      .project-desc {
        text-align: center;
        margin-bottom: 1rem;
        color: #fff;
      }
    }
    .project2 {
      @extend .project1;
      float: right;
      .project-img-block2 {
        height: 100%;
        background-image: $crud-app-bg-img;
      }
      :hover {
        @include easeIn;
        opacity: 0.5;
      }
    }
    .project3 {
      @extend .project1;
      float: left;
      .project-img-block3 {
        height: 100%;
        background-image: $react-app-bg-img;
      }
      :hover {
        @include easeIn;
        opacity: 0.5;
      }
    }
  }
}
