@import "config";
body {
  margin: 0;
  padding: 0;

  .block {
    background-color: lightgray;
    height: 100vh;
    max-width: 100%;
  }
  //Image Area
  .image-block {
    @extend .block;
    background: $background-image;

    .intro-text {
      padding-top: 20vh;
      padding-left: 33vw;

      h1 {
        color: $text-light;
        font-size: 5rem;
        margin-bottom: 0;
        font-family: Helvetica;
      }

      p {
        font-family: Helvetica;
        color: $text-light;
        font-size: 2rem;
      }

      #spanL {
        animation: spanimation1 5s ease-out 0s infinite;
      }
      #spanR {
        animation: spanimation2 5s ease-out 0s infinite;
      }
    }
  }
  //Barrier block
  .barrier-block {
    padding: 1.5vh;
    background-color: $palette-grey;
    max-width: 100%;
  }
  .about-me-block {
    max-width: 100%;
    background-color: $palette-tea;
    .text-container {
      height: 100%;
      color: $text-light;
      h1 {
        padding: 3vh 0 0 3vw;
        margin: 0;
        font-size: 4.5rem;
      }
      p {
        padding: 0 10vw 0 10vw;
        text-align: center;
        font-family: sans-serif;
        font-size: 2rem;
      }
      a {
        text-decoration: none;
        color: $text-light;
      }
      a:hover {
        color: black;
        cursor: pointer;
      }
      #comma {
        animation: typist 2.5s ease 0s infinite;
      }
    }
  }
  //Orange area
  .tech-block {
    background-color: $palette-vivid;
    height: 30vh;

    .tech-section {
      background-color: $palette-vivid;
      float: left;
      width: 50%;
      height: 100%;
      margin: 0;

      .textNIcons {
        padding: 5vh 0 0 3vw;
        h1 {
          font-size: 3.75rem;
          font-family: sans-serif;
          margin: 0;
        }
      }
      .icons {
        text-decoration: none;
        padding-left: 1rem;

        i {
          color: $text-dark;
          font-size: 2.75rem;
        }
        i:hover {
          color: white;
        }
      }
    }

    .info-section {
      float: right;
      width: 50%;
      margin: 0;
      height: 100%;
      background-color: $palette-vivid;
      .html-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      .css-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      .js-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      .node-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      .sass-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      .react-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
      .git-block {
        visibility: hidden;
        max-height: 100%;
        position: absolute;
        &.show {
          visibility: visible;
        }
      }
    }
    h1 {
      margin: 0;
    }
  }
  .projects-block {
    background-color: lightblue;
    height: 50vh;
    h1 {
      margin: 0;
    }
  }
}
